body {
    background-color: lightgoldenrodyellow;
    font-family: monospace;
    margin: 0;
    padding: 0;
}  
.topbar { 
    color: midnightblue;
    letter-spacing: 5px;
    width: 100%;
}
span:hover { background-color: honeydew;
    color: darkslategray;
    letter-spacing: 5px;

}
span {
    margin: 20px;
}


p {
    color: darkseagreen;
    font-family: monospace;
}

/* section {
    margin: 100px
} */
/*section > p {
    color: purple;*/


/* section img {
    max-width: 30%;
} */

img + p {
    color: darkslategrey
}
img ~ p {
    color: darkslategrey;
}
a:link {
    color: black;
}
a:visited {
    color: darkblue;
}
a:active {
    color:red;
}

h3 {
    color: midnightblue;
    letter-spacing: 5px;
    font-family: monospace;
}
h1 {
    color:honeydew;
    background-color:darkslategray;
    letter-spacing: 5px;
    padding: 1em;
}

h2 {
    text-align: right;
}
h3:hover {
    background-color: honeydew;
    color: darkslategray;
    letter-spacing: 5px;
}
h1.inTheSection {
    color: honeydew;
}
.mainHeading {
    color: white;
}
.splash {
    background-image: url(./pics/image1.jpg);
    background-size: 100% 100%; 
    background-repeat: no-repeat;
    height: 600px;
    width: 100%;
    color: white;
    font-size: 30px;
    text-align: center;
    padding-top: 30%;
    letter-spacing: 5px;
}
footer {
    color: white;
}

img {
    margin: 0 auto;
}

.dddd1 {
    border: 1px;
}

/* .imageContainer {
    width: 100%;
    background-color: gray;
    height: 200px;
} */

.menu {
    width: 90%;
}
.team {
    width: 80%;
    margin: 0% 10%; 
}

/* .box1 {
    width: 300px;
    height: 300px;
    background-color: orange;
    padding: 1em 2em 3em 4em;
    margin-bottom: 2em;
    border: 10px solid black;
}
.box2 {
    width: 300px;
    height: 300px;
    background-color: pink;
    padding: 3em;
    box-sizing: border-box;
    margin-top: 3em;
}
.inner {
    width: 150px;
    height: 150px;
    background-color: powderblue;
    margin-top: 2em;
} */

/* .ourGrid { 
    outdated css
}*/

.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
    text-align: center;
}
.gallery2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1em;
    margin-bottom: 10%;
}

footer {
    text-align: center;
    color: black;
}

.content {
    width: 100%;
}

/* @media all and (max-width: 600px){
    .ourGrid {
        grid-auto-columns: 1fr 1fr;
    }
} */
/* @media all and (max-width: 400px){
    img {
        display: block;
    }
   
} */

@media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
    .gallery {
        grid-template-columns: 1fr;
    }
    .gallery2 {
        grid-template-columns: 1fr 1fr;
    }
    .splash {
        height: 250px;

    }
  }
  @media screen and (min-width: 601px) and (max-width: 900px) {
    .splash {
        height: 320px;

    }
}